@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    font-family: 'Inter', sans-serif;
}
h3{
    margin: 0;
}
body{
    margin: 0;
}

.contenedorMain{
    display: flex;
    height: 100%;
}

textarea{
    outline: none;
    border: none;
    resize: none;
}
main{
    flex-grow: 3;
    display: flex;
    height: 100vh;
    flex-direction: column;
    background-color: #f7f3fd;
}
.logo{
    flex-grow: 2;
    display: flex;
    justify-content: start;
}
.logo img{
    margin: auto;
    height: 50px;
}
.textRead{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 8;
}
.textRead textarea{
    border-style: none;
    width: 60%;
    height: 90%;
    font-size: 32px;
    line-height: 48px;
    color: #0A3871;


    background-color: transparent;
}
.textRead textarea::placeholder{
    color: #0A3871;
}
.mainBtn{
    display: flex;
    justify-content: center;
    gap: 5%;
    flex-grow: 2;
}
button{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    height: 100px;
    max-height: 50%;
    width: 250px;
    max-width: 47%;
    border-style: none;
    border: 1px solid #0A3871;
    border-radius: 24px;
    cursor: pointer;
    font-size: 25px;
    background-color: white;
    color: #0A3871;
    transition: transform .2s, background-color .2s;
}
button img{
    height: 25px;
}

.btnMain:nth-child(1){
    background-color: #0A3871;
    color: white;
    text-align: center;
}
.btnMain:nth-child(2){
    background-color: white;
    color: #0A3871;
}

aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: #9ecbf7;
    transition: background-color .5s;
    height: 100vh;
}
.contenedor_textWrite{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  #f7f3fd;
    height: 90%;
    width: 450px;
    min-width: 30%;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;

}
.contenedor_textWrite h2{
    margin: 0 auto;
    text-align: center;
    color: #343A40;
    font-size: 24px;
}
.contenedor_textWrite p{
 color: #343A40;
}
.textWrite{
    width: 85%;
    height: 80%;
    overflow-wrap: break-word;
    overflow-y: auto;
    font-size: 24px;
    color: #0A3871;
    margin: 15px 0;
}


.contenedor_textWrite button{
    margin-bottom: 50px;

}
.btnAgrandar{
    transform: scale(1.1);
    background-color: #0A3871;
    color: white;
}
.svg img{
    height: 100px;
}
#found{
    display: none;
}
#notFound{
    display: flex;
    gap: 4rem;
    text-align: center;
}
footer{
    background-color: #157ce2;
    color: white;
    padding: 15px;
    text-align: center;
    font-weight: 100;
}
footer h3{
    font-size: 25px;
}
footer strong{
    font-size: 18px;
}
@media(max-width: 1100px){
    .contenedorMain{
        flex-direction: column;
    }
    .mainBtn button{
        font-size: 20px;
    }
    main{
        height: 80vh;
    }
    aside{
        height: 50vh;
    }
    .contenedor_textWrite{
        margin: 20px;
        width: 90%;
    }
    .svg{
        display: none;
    }
    .textRead textarea{
        width: 85%;
    }
    .contenedor_textWrite{
        height: 260px;
    }
}